---
const { videoId = 'Bl2xnzZEv2s' } = Astro.props;
---

<section class="bg-transparent px-6 py-16 md:px-10 lg:px-20">
  <div class="mx-auto max-w-[1200px] text-center">
    <div class="relative h-0 w-full overflow-hidden rounded-xl pb-[56.25%] shadow-lg">
      <iframe
        class="absolute left-0 top-0 h-full w-full"
        src={`https://www.youtube.com/embed/${videoId}`}
        title="Demo Agente IA"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</section>
