---
import Posts from '@components/global/posts/Posts.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<div class="mx-auto max-w-screen-lg px-4 py-3 sm:px-4 sm:py-3 lg:px-8">
  <div class="mb-10 flex items-end justify-between">
    <div class="flex flex-col items-start justify-start gap-[8px]">
      <h1 class="text-lg font-semibold leading-6 text-zinc-900 group-hover:text-zinc-600 dark:text-white md:text-xl">
        Blog 📔
      </h1>
      <p class="text-md opacity-70">Here you can check my latest post.</p>
    </div>

    <a href="/blog">
      <p class="text-md opacity-70 hover:opacity-100 dark:hover:text-white">View all post</p>
    </a>
  </div>

  <Posts posts={posts} />
</div>
