---
interface Props {
  color?: 'gray' | 'green' | 'purple' | 'blue';
  size?: 'md' | 'lg' | 'auto';
  type?: 'submit' | 'button' | 'reset';
  onClick?: string;
}

enum PrimaryButtonColor {
  gray = 'bg-darkGray hover:bg-lightGray active:bg-darkGray text-white hover:text-darkGray',
  green = 'bg-green-700 hover:bg-green-500 active:bg-green-700 text-white',
  purple = 'bg-purple-400 hover:bg-purple-300 active:bg-purple-500 text-white',
  blue = 'bg-blue-400 hover:bg-blue-300 active:bg-blue-500 text-white',
}

enum Size {
  md = 'w-[180px] h-auto px-2 py-3 text-lg',
  lg = 'w-[230px] h-auto px-4 py-3 text-lg',
  auto = 'w-auto  h-auto px-4 py-3 text-lg',
}

const { color = 'purple', size = 'md', type = 'submit', onClick } = Astro.props;
---

<button
  class={`items-center rounded-lg px-3 py-1 font-semibold ${Size[size]} ${PrimaryButtonColor[color]}
`}
  type={type}
  onclick={onClick as any}
>
  <slot />
</button>
