---
import LeftArrowIcon from '@components/icons/LeftArrowIcon.astro';
---

<section class="flex h-screen w-screen flex-col items-center justify-center bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1 class="text-primary-600 dark:text-primary-500 mb-4 text-7xl font-extrabold tracking-tight lg:text-9xl">
        404
      </h1>
      <p class="mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white md:text-4xl">
        Something's missing.
      </p>
      <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
        Sorry, we can't find that page. You'll find lots to explore on the home page.
      </p>

      <a
        href="/"
        class="focus:ring-primary-300 dark:focus:ring-primary-900 justify-centerrounded-md inline-flex items-center rounded-lg bg-gray-400 px-5 py-3 text-center text-sm font-medium text-white hover:bg-gray-500 focus:outline-none focus:ring-4"
      >
        <div class="flex items-center justify-center gap-2 py-3">
          <LeftArrowIcon />
           Back to Homepage
        </div>
      </a>
    </div>
  </div>
</section>
