---
interface Props {
    avatar?: string
}

const {avatar = "/avatar.png"} = Astro.props
---

<div class="relative">
  <div class="aspect-square relative">
    <div class="absolute inset-0 rounded-3xl bg-gradient-to-br from-primary/20 to-accent/20 blur-3xl"></div>
    <div class="relative h-full overflow-hidden rounded-3xl border border-primary/20">
      <div class="flex h-full w-full items-center justify-center bg-gradient-to-br from-primary/10 to-accent/10">
        <img src={avatar} alt="icon" loading="lazy" width="auto" height="450" class="h-[450px] w-full object-cover object-center" />
      </div>
    </div>
  </div>
</div>
