---

---

<section class="bg-white md:py-20 py-10 px-6">
  <div class="max-w-7xl mx-auto text-center">
    <p class="text-blue-600 font-semibold text-sm mb-2">Pricing and planes</p>
    <h2 class="text-3xl md:text-4xl font-bold mb-12">
      Start free, choose a plan later.
    </h2>

    <div
      class="grid grid-cols-1 md:grid-cols-3 text-left w-full border max-w-[1100px] mx-auto"
    >
      <!-- Plan 1 -->
      <div
        class="border-blue-500 rounded-xl py-12 px-6 flex flex-col justify-start"
      >
        <div>
          <h3 class="font-semibold text-lg mb-2">AI Started</h3>
          <p class="text-sm text-gray-600 mb-4">
            Entrepreneurs or small businesses that want to start automating
            basic sales tasks.
          </p>
          <div class="text-3xl font-bold text-black mb-1">
            100<span class="text-base font-medium align-top"> USD/mes</span>
          </div>
          <p class="text-sm text-gray-600 mb-5">All you need to start.</p>
          <a href="/sales#form">
            <button
              class="w-full py-2 mt-auto rounded-md bg-black text-white hover:bg-gray-900 transition"
              >Start free trial</button
            >
          </a>
        </div>
        <ul class="mt-10 space-y-2 text-sm text-gray-700">
          <li>
            ✅ 1 basic AI agent for customer service on WhatsApp or social
            media.
          </li>
          <li>✅ Up to 2 integrated custom automations (n8n/Zapier).</li>
          <li>✅ 24-hour technical support</li>
          <li>✅ Model tailored to your business</li>
          <li>✅ Initial training (1 session of 30 min)</li>
        </ul>
      </div>

      <!-- Plan 2 -->
      <div class="md:border-l md:border-r md:border-t-0 md:border-b-0 border-t border-b py-12 px-6 flex flex-col justify-start">
        <div>
          <h3 class="font-semibold text-lg mb-2">AI Growth</h3>
          <p class="text-sm text-gray-600 mb-4">
            Growing businesses seeking efficiency and greater automation.
          </p>
          <div class="text-3xl font-bold text-black mb-1">
            300<span class="text-base font-medium align-top"> USD/mes</span>
          </div>
          <p class="text-sm text-gray-600 mb-5">
            5,000 requests included plus $0.04 per additional request
          </p>
          <a href="/sales#form">
            <button
              class="w-full py-2 mt-auto rounded-md bg-black text-white hover:bg-gray-900 transition"
              >Start free trial</button
            >
          </a>
        </div>
        <ul class="mt-10 space-y-2 text-sm text-gray-700">
          <li>✅ Up to 3 customized AI agents (chat, voicebot, CRM bot).</li>
          <li>✅ Up to 5 automated custom flows with conditional logic.</li>
          <li>✅ Training with your own data (PDFs, knowledge base).</li>
          <li>✅ Monthly performance reports.</li>
          <li>✅ Priority support (24-48 hours).</li>
          <li>✅ 2 optimization sessions per month.</li>
          <li>✅ Model tailored to your business</li>
        </ul>
      </div>

      <!-- Plan 3 (Destacado) -->
      <div class="flex flex-col justify-start relative py-12 px-6">
        <div>
          <div
            class="text-sm font-semibold text-center text-white mb-2 absolute bg-blue-600 px-3 py-3 w-[150px] rounded-xl mx-auto -top-6 left-0 right-0"
          >
            Most purchased
          </div>
          <h3 class="font-semibold text-lg mb-2">AI Enterprise</h3>
          <p class="text-sm text-gray-600 mb-4">
            Companies seeking to transform entire processes with AI and maximize
            their sales lifecycle.
          </p>
          <div class="text-3xl font-bold text-black mb-1">
            1099<span class="text-base font-medium align-top"> USD/mes</span>
          </div>
          <p class="text-sm text-gray-600 mb-5">
            15,000 requests included plus $0.04 per additional request
          </p>
          <a href="/sales#form">
            <button
              class="w-full py-2 mt-auto rounded-md bg-green-500 text-white hover:bg-green-600 transition"
              >Start free trial</button
            >
          </a>
        </div>
        <ul class="mt-10 space-y-2 text-sm text-gray-700">
          <li>✅ Up to 10 customized agents, integrated with each other.</li>
          <li>✅ Custom architecture and development.</li>
          <li>✅ Connection to internal APIs or ERP-type systems.</li>
          <li>✅ Custom analytics dashboards + advanced logs.</li>
          <li>✅ Dedicated technical support.</li>
          <li>
            ✅ Continuous training with your custom new data (retrieval +
            feedback).
          </li>
          <li>✅ Priority support (24-48 hours).</li>
          <li>✅ Up to 20 automated custom flows with conditional logic.</li>
          <li>✅ Access to beta testing of new solutions.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
